---
name: 02 Azure Landing Zones Continuous Delivery
on:
  workflow_dispatch:
    inputs:
      skip_what_if:
        description: 'Skip What If Check?'
        type: boolean
        default: false
      governance-int-root:
        description: 'Run Steps: Governance - Intermediate Root'
        type: boolean
        default: false
      governance-landingzones:
        description: 'Run Steps: Governance - Landing Zones'
        type: boolean
        default: false
      governance-landingzones-children:
        description: 'Run Steps: Governance - Landing Zone Children'
        type: boolean
        default: false
      governance-platform:
        description: 'Run Steps: Governance - Platform'
        type: boolean
        default: false
      governance-platform-children:
        description: 'Run Steps: Governance - Platform Children'
        type: boolean
        default: false
      governance-sandbox:
        description: 'Run Steps: Governance - Sandbox'
        type: boolean
        default: false
      governance-decommissioned:
        description: 'Run Steps: Governance - Decommissioned'
        type: boolean
        default: false
      governance-rbac:
        description: 'Run Steps: Governance - Cross-MG RBAC'
        type: boolean
        default: false
      core:
        description: 'Run Steps: Core Logging'
        type: boolean
        default: false
      networking:
        description: 'Run Steps: Networking'
        type: boolean
        default: false

jobs:
  plan_and_apply:
    uses: ExjobbOA/alz-mgmt-templates/.github/workflows/cd-template.yaml@main
    name: 'CD'
    permissions:
      id-token: write
      contents: read
    with:
      platform_ref: main
      parameters_file_name: config/platform.json
      skip_what_if: ${{ inputs.skip_what_if }}
      governance-int-root: ${{ inputs.governance-int-root }}
      governance-landingzones: ${{ inputs.governance-landingzones }}
      governance-landingzones-corp: ${{ inputs.governance-landingzones-children }}
      governance-landingzones-online: ${{ inputs.governance-landingzones-children }}
      governance-platform: ${{ inputs.governance-platform }}
      governance-platform-connectivity: ${{ inputs.governance-platform-children }}
      governance-platform-identity: ${{ inputs.governance-platform-children }}
      governance-platform-management: ${{ inputs.governance-platform-children }}
      governance-platform-security: ${{ inputs.governance-platform-children }}
      governance-sandbox: ${{ inputs.governance-sandbox }}
      governance-decommissioned: ${{ inputs.governance-decommissioned }}
      governance-platform-rbac: ${{ inputs.governance-rbac }}
      governance-platform-connectivity-rbac: ${{ inputs.governance-rbac }}
      governance-landingzones-rbac: ${{ inputs.governance-rbac }}
      core-logging: ${{ inputs.core }}
      networking: ${{ inputs.networking }}
